/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;

}
:root {
  --bg-color: #020817;
  --second-bg-color: #0A1A2F;
  --text-color: #fff;
  --main-color: #00ffee;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background:  var(--bg-color);
  color: var(--text-color);

}
